head
    title Hello!

    link(rel='stylesheet', href='public/css/style.css')

    script(src="http://code.jquery.com/jquery-2.1.3.min.js")

body
    - var i = 0
    while i++ < (num?num:1)
        .hello
            if name
                p Hello, 
                    = name + '!'
            else
                p Hello, stranger!
    script(src='public/js/app.js')


